/*
*= require jquery-ui/jquery-ui.min.css
*= require commonui-bs3-2019/css/bootstrap.min.css
*= require commonui-bs3-2019/css/bootstrap-theme.min.css
*= require commonui-bs3-2019/css/autocomplete.min.css
*= require commonui-bs3-2019/css/autocomplete-extra.min.css
*= require commonui-bs3-2019/css/font-awesome.min.css
*= require leaflet/dist/leaflet.css
*= require leaflet-draw/dist/leaflet.draw.css
*= require leaflet-control-window/L.Control.Window.css
*= require leaflet-fullscreen/Control.FullScreen.css
*= require leaflet-label/leaflet.label.css
*= require Leaflet.zoomslider-0.7.1/src/L.Control.Zoomslider.css
*= require leaflet-measure/dist/leaflet-measure.css
*= require angular/angular-csp.css
*= require angular-ui-bootstrap/dist/ui-bootstrap-csp.css
*= require ALAChart.css
*= require sandbox.css
*= require angular-loading-bar/build/loading-bar.min.css
*= require jquery-layout/jquery.layout.css
*= require spatial-hub.css
*/

html {
    font-size: 12px;
}
#main {
    padding:0;
}

.customify-container {
    max-width: none;
}

#top-logo img {
    height: 50px;
    padding: 7px 0;
}
#top-banner {
    align-self: flex-end;
    padding: 0 0 2px 15px;
    color: white;
    font-size: 1.4rem;
}

#top-menu {
    margin-left: auto;
}
.nav-menu-desktop {
    font-size: 1.2em;
}
.nav-menu-desktop .menu > li > a {
    padding: 19px 13px;
    font-size: 0.8em;
}

#auth-header-buttons {
    margin-bottom: 0;
}
#auth-header-buttons a {
    font-size: 1.17rem;
}
#auth-header-buttons a:hover {
    background-color: var(--primary-sbdi-lightblue) !important;
}
